.Spinner {
    text-align: center;
  }
  
  .Spinner-logo {
    height: 20vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Spinner-logo {
      animation: Spinner-logo-spin infinite 3s linear;
    }
  }
  
  .App-header {
  /*  background-color: #282c34;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #56042c;
  }
  
  
  
  @keyframes Spinner-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  